
<div class="container">
    <h2>Cart</h2>
    <div *ngFor="let dish of some">
        <div class="d-flex">
            <div class="p-2 w-100">
                <img src="{{ dish.img }}" style="width: 100px; height: 100px; object-fit:cover;">
                {{ dish.name }}
            </div>
            <div class="p-2 flex-shrink-1"><p><span class="spnn">€{{ dish.price }}</span></p></div>
           
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <div class="st">
        <p>Sum: <span class="spnn">€{{total}}</span></p>
        <p>10% for Service: <span class="spnn">€{{look}}</span></p>
        <p>Total: <span class="spnn">€{{bth}}</span></p>
        <ng-template [ngIf]="free > 0">
        <p>You have a discount: <span class="spnn">- €{{free}}</span></p>
        <p>Final price: <span class="spnn">€{{one}}</span></p>
        </ng-template>

        </div>

    </div>
</div>


<div class="container my-5">
    <h2>Order Form</h2>
    <form class="mx-auto justify-content-center align-items-center" [formGroup]="kunde" (ngSubmit)="onSubmit()">
        <input type="text" placeholder="Name" formControlName="name">
        <input type="text" placeholder="Address" formControlName="address">
        <input type="text" placeholder="Phone" formControlName="phone">
        <button class="btn btn-primary text-center" type="submit">Order</button>
    </form> 
</div>
