<h2>Cart</h2>

<div *ngFor="let dish of some">
    <p>{{ dish.name }}</p>
    <p>{{ dish.price }}</p>
    <hr>
</div>

<p>Zbroje jela: {{total}}</p>
<p>10% za Service: {{look}}</p>
<p>Zajedno: {{bth}}</p>
<ng-template [ngIf]="free > 0">
<p>Ako je vece od 40: - {{free}}</p>
<p>total: {{one}}</p>
</ng-template>

<div class="container">
    <form class="d-flex justify-content-center align-items-center" [formGroup]="kunde" (ngSubmit)="onSubmit()">
        <input type="text" placeholder="Name" formControlName="name">
        <input type="text" placeholder="Address" formControlName="address">
        <input type="text" placeholder="Phone" formControlName="phone">
        <button class="btn btn-primary text-center" type="submit">Order</button>
    </form> 
</div>